body {
  font-family: Gill Sans;
}

.header-left{
  margin-left: 20px;
}
.header-right{
  margin-right: 30px;
}

.bg-navbar,
.bg-footer,
.button-color {
  background-color: rgba(18, 109, 103, 1);
}

.active-color {
  background-color: rgba(11, 51, 34, 1);
}

.active-color:hover {
  background-color: rgba(18, 109, 103, 1);
}

.bg-navbar2 {
  background-color: rgba(18, 109, 103, 0.13);
}

.nav-link:hover {
  background-color: rgba(11, 51, 34, 1);
}

.color-text-light {
  color: white;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  letter-spacing: -0.05rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.bg-carousel {
  background-image: url("./assets/bg.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-artikel {
  background-image: url("./assets/artikel1.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.color-section {
  background-color: rgba(18, 109, 103, 0.13);
}

.color-card {
  background-color: rgba(18, 109, 103, 0.13);
}

svg {
  fill: white;
}

.play-icon {
  position: absolute;
  top: 30%;
  left: 55%;
  transform: translate(-50%, -50%);
  padding: 20px; /* Jarak dari tepi lapisan ke ikon "play" */
  color: white; /* Warna ikon "play" */
  font-size: 24px; /* Ukuran ikon "play" */
  opacity: 0px;
}

.full-image {
  width: 100%;
  height: auto;
}

.cover-container {
  background-image: url("./assets/bg.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-div {
  width: 1400px;
  height: 500px;
  margin: auto;
}

.video-div video {
  border-radius: 8px;
  height: 500px;
}

/* login */
label {
  font-size: 1rem;
  color: #0e0d0d;
}

.login h3 {
  font-weight: 700;
  font-size: 2rem;
}

.login p {
  font-size: 1rem;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #c2c2c2;
}

/* icon foto profile */

.icon-link {
  text-decoration: none;
  color: white; /* Mengubah warna teks menjadi putih */
}
.icon-link i {
  font-size: 24px;
}

.profile-icon {
  background-color: lightgray;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 5px;
  overflow: hidden;
}

.profile-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-image {
  width: 30px; /* Sesuaikan lebar gambar */
  height: 30px; /* Sesuaikan tinggi gambar */
  border-radius: 50%;
}

/* CSS ARTIKEL */
.artikel-parent {
  height: auto;
  width: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

/* -------Card Kiri---------- */
.container-artikel-full {
  border: solid 1px rgba(15, 1, 1, 0.156);
  box-shadow: 4px 4px rgba(15, 1, 1, 0.156);
  width: 70%;
  margin-left: 60px;
  margin-top: 10px;
  box-sizing: border-box;
}

.container-artikel-full img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 95%;
  height: 500px;
}

/* --------Card Kanan----------- */
.container-artikel {
  border: solid 1px rgba(15, 1, 1, 0.156);
  box-shadow: 4px 4px rgba(15, 1, 1, 0.156);
  background-color: rgba(18, 109, 103, 0.129);
  margin-top: 10px;
  margin-right: 50px;
  width: 21%;
  height: auto;
}

.artikel-tittle h1 {
  font-size: 23px;
  margin: 10px 0px 0px 10px;
}

.artikel-contain {
  width: 90%;
  height: auto;
  margin: 25px auto;
  margin-top: 20px;
}

.artikel-contain img {
  border-radius: 8px;
  height: 160px;
}

.keterangan-artikel h6 {
  margin-top: 5px;
}
/* BATAS CSS ARTIKEL */

/* CSS VIDEO */
.container-artikel-full video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 95%;
  height: 500px;
  border-radius: 8px;
  background-color: rgba(18, 109, 103, 0.129);
}

.video-contain {
  width: 90%;
  height: auto;
  margin: 25px auto;
  margin-top: 20px;
}

.video-contain img {
  border-radius: 8px;
  height: 160px;
}
/* BATAS CSS VIDEO */

/* Peta */
#map {
  height: 400px;
  border: 2px solid #0c0c0ccd;
  border-radius: 10px;
  box-shadow: 60px;
}
#temukan-lokasi {
  margin-top: 20px;
}

/* forum */
.formulir li {
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
}
.formulir li:hover {
  color: black;
}

/* modal */
.bg-formulir{
  background-color: rgba(18, 109, 103, 0.13);
}

/* lapor */
.container-laporkan-masalah-full{
  border: dashed 1px rgba(0, 0, 0, 0.433);
  width: 24%;
  margin-left: 280px;
  margin-top: 70px;
  box-sizing: border-box;
  padding: 30px;
}

.container-laporkan-masalah{
  margin-top: 70px;
  margin-right: 250px;
  width: 40%;
  height: auto;
}

.img-area{
  position: relative;
  width: 100%;
  height: 240px;
  background: rgba(128, 128, 128, 0.219);
  display: flex;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

.img-area .icon{
  font-size: 100PX;
}
.img-area .icon h3{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 6px;
}
.img-area p{
  color: #999;
}
.img-area img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 100;
}
.img-area span{
  font-weight: 600;
}
.select-image{
  display: block;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.form-group-lm .form-control{
  background:  rgba(18, 109, 103, 0.129);
}